{% extends "layout.html" %}

{% block content %}

<div class="ltr">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="ltr">

</div>
<div class="row">
    <h2>About me</h2>
    <p>my nanme is Yuval Alon</p>
    <p>I'm in 10th grade</p>
    <p>I go to tichonet</p>
    <p></p>
    <h2>about the project</h2>
    <p class="ltr">
        the project was created as the final project in data science for 10th graders, 2020 in school "tichonet" in tel aviv
    </p>
    <p class="ltr">
        <br /><br />
        the project contains two main majure disciplines
        <br /><br />
        * internet programming
        <br />
        * Data science
        <br /><br />
        In the project I found data sources and made them easier to the users to see and browse, The site will make it easier to the user to investigate the data source, and understand it better.
        <br /><br />
        The project will be established upon the next technological components:
        <br /><br />
        * python
        <br />
        * pandas
        <br />
        * Flask
    </p>

    <div class="row my-grid-borders">
        <table class="table table-striped heb">
            <tbody>
                <tr>
                    <td dir="rtl"><a class="btn btn-primary heb" href="https://docs.google.com/document/d/1538xPVeW1qdOOwlC23IYvJlg44aqWepqKxEj15FQ1bU/edit?usp=sharing" target="_blank">Go &raquo;</a></td>
                    <td dir="ltr">Link to the project's specification document:</td>

                </tr>
                <tr>
                    <td dir="rtl"><a class="btn btn-primary heb" href="https://github.com/YuvalAlon" target="_blank">Go &raquo;</a></td>
                    <td dir="ltr">Link to the project's GitHub code:</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>

{% endblock %}
