{% extends "layout.html" %}

{% block content %}



<div class="row">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="row">
    <h2></h2>
    <br /><br />
</div>
<div class="row">
    <div class="col-md-6">
        <h2 class="ltr">Yuval Alon</h2>
        <h4 dir="ltr">yuvalval8@gmail.com:</h4>
        <!-- sends you to gmail in a new tab -->
        <h4 dir="ltr"><a class="btn btn-primary heb" href="http://mail.google.com/mail/u/0/" target="_blank">Go &raquo;</a></h4>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
        <img class="contain" src={{ img_imageskies }} alt='Missing'>
    </div>
</div>

{% endblock %}